<!DOCTYPE html>
<html>
  <head>
    {% include '_head.html' %}
    <title>Delete {{restaurant.name}}</title>
  </head>
  <body>
    <h2>Are you sure you want to delete the restaurant, {{restaurant.name}}?</h2>
    <h5>** This will delete all menu items realated to the restaurant as well. **</h5>
    <form action="{{url_for('deleteRestaurant', restaurant_id = restaurant.id)}}" method="POST">
      <input type="submit" value="Delete">
      <a href="{{url_for('showRestaurants')}}">Cancel</a>
    </form>

  </body>
</html>
