<!DOCTYPE html>
<html>
  <head>
    {% include '_head.html' %}
    <title>{{restaurant.name}}</title>
  </head>
  <body>
    <h1>{{restaurant.name}}</h1>
    <small><a href="{{url_for('showRestaurants')}}"><< Return to Restaurants</a></small><br>
    <a href="{{url_for('newMenuItem', restaurant_id = restaurant.id)}}">Add new menu item</a>
    <br><br>
    {% for item in items %}
    <h3>{{item.name}}</h3>
    <p>{{item.price}}</p>
    <p>{{item.description}}</p>
    <a href="{{url_for('editMenuItem', menu_id = item.id, restaurant_id = restaurant.id)}}">Edit</a>
    <a href="{{url_for('deleteMenuItem', menu_id = item.id, restaurant_id = restaurant.id)}}">Delete</a>
    <br><br>
    {% endfor %}
  </body>
</html>
